@charset "utf-8";

#activity-main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.activity-card {
  width: 100%;
}

.activity-card .card {
  max-width: 100%;
  height: 200px;
  margin: 20px 0;
  background: #fff;
  transition: 0.25s;
  transform: scale(1);
}

.activity-card .card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.activity-card .card h1 {
  line-height: 0.68em;
}

.activity-card .card .sentence,
h1 {}


#sdt,
#shin {
  flex-basis: 59%;
}

#kawara,
#twit {
  flex-basis: 39%;
}

#works {
  flex-basis: 100%;
}

#sdt,
#twit {
  margin-right: 2%;
}

#sdt .card {
  background: url(../img/sdt-card-img.jpeg);
}

#kawara .card {
  background: url(../img/kawaraban-card-img.jpg);
}

#shin .card {
  background: url(../img/shinbun-card-img.jpeg);
}

#twit .card {
  background: url(../img/twitter-card-img.jpeg);
}

#works .card {
  background: url(../img/works-card-img.JPG);
}


#sdt .card h1,
#shin .card h1,
#twit .card h1,
#kawara .card h1 {
  filter: drop-shadow(4px 2px 12px rgba(65, 5, 5, 0.3));
}

#sdt .card .sentence,
#shin .card .sentence,
#twit .card .sentence,
#kawara .card .sentence,
#works .card .sentence {
  filter: drop-shadow(4px 2px 5px rgba(65, 5, 5, 0.3));
}

#sdt .card,
#shin .card,
#twit .card,
#kawara .card,
#works .card {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  z-index: 0;
  color: #fff;
}

#sdt .card::before,
#shin .card::before,
#twit .card::before,
#kawara .card::before,
#works .card::before{
  content: "";
  position: absolute;
  /*絶対位置を指定したらうまく行った*/
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(to right bottom, rgba(6, 11, 39, 0.31), rgba(147, 1, 1, 0.05));
  filter: blur(4px), brightness(0.7);
}

@media screen and (max-width:768px) {
  #sdt,
  #shin,
  #kawara,
  #twit,
  #works {
    min-width: 100%;
  }

  #sdt,
  #twit {
    margin-right: 0;
  }

  .activity-card .card h1 {
    height: 1em;
  }
}
