@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
  /*要検討*/
  margin-top: 100px;
  color: #333333;
  font-family: "europa", "a-otf-gothic-bbb-pr6n", "a-otf-midashi-go-mb31-pr6n", sans-serif;
}

span {
  display: inline-block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72vw;
  /*  width: 1200px;*/
  height: 100px;
}

.logo-box-pc {
  display: block;
}

.header-logo {
  display: block;
  width: auto;
  height: 32px;
}

.logo-box-sp {
  display: none;
}

.logo-small {
  display: block;
  width: auto;
  height: 48px;
}

/*ハンバーガーメニュー設定*/

#nav-drawer {
  position: relative;
  display: none;
}

.nav-hidden {
  display: none;
}

#nav-open {
  display: inline-block;
}

#nav-open > img {
  height: 24px;
}

#nav-close {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: ;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transition: 0.25s ease;
}

#nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: ;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  transform: translateY(100%);
}

#nav-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nav-content ul li {
  margin-bottom: 1.2em;
  list-style: none;
  text-align: center;
  color: #E8404D;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#nav-content ul li img {
  height: 3em;
  max-width: 50vw;
}

.nav-close-btn img {
  display: block;
  position: relative;
  top: 50px;
  /*  left: -50px;*/
  /*  width: 30px;*/
  height: 30px;
}

/*チェックが入ったらもろもろ表示*/

#nav-input:checked ~ #nav-close {
  display: block;
  opacity: 0.8;
}

#nav-input:checked ~ #nav-content {
  transform: translateY(0%);
}

/*----------------------------------*/

.grobal-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  font-weight: bold;
}

.grobal-nav li {
  margin-right: 2.4vw;
  /*  margin-right: 10px;*/
  list-style: none;
}

.grobal-nav li:last-child {
  margin-right: 0;
}

.grobal-nav li a {
  width: ;
  height: ;
  padding: 1px 16px 3px 16px;
  border-radius: 100px;
  color: #E8404D;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(231, 64, 76, 1) 50%);
  background-position: 0 0;
  /*  background-size: 200% auto;*/
  background-size: 202% auto;
  transition: 0.25s cubic-bezier(.33, 0, .11, .99);
}

.grobal-nav li a:visited {
  color: ;
}

.grobal-nav li a:hover {
  background-position: -100% 0;
  color: #fff;
}

.wrapper {
  display: flex;
  width: 72vw;
  height: auto;
  margin: auto;
  padding-top: 20px;
}

.content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  width: 100%;
  height: auto;
}

.card {
  display: block;
  height: auto;
  padding: 4.6vw 4vw;
  border-radius: 20px;
  margin-bottom: 80px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
  flex-shrink: 3;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  margin-left: 4vw;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
}

.sidebar ul li {
  border-bottom: solid 2px transparent;
  margin: 0 0 16px 0;
  color: #E8404D;
}

.sidebar ul li::after {
  content: "";
  /*これが無いとアニメーション効かない*/
  display: block;
  width: 0;
  transition: width 0.25s cubic-bezier(.33, 0, .11, .99);
  border-bottom: solid 2px #E8404D;
}

.sidebar ul li:hover::after {
  width: 100%;
}

/*見出し*/

h1 {
  left: 0px;
  height: 2em;
  font-size: 2em;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 1.6em;
}

/*↓文章系に共通*/

.sentence {
  margin-bottom: 40px;
  font-family: "a-otf-gothic-bbb-pr6n";
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.2em;
  line-height: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-wrapper {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72vw;
  height: 200px;
}

.footer-logo {
  width: 2em;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  font-weight: bold;
}

.footer-nav li {
  margin-right: 2.4vw;
  /*  margin-right: 10px;*/
  list-style: none;
  color: #E8404D;
  font-weight: bold;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  width: 16vw;
}

.footer-contact img {
  height: 3em;
  transform: scale(1);
  transition: 0.25s cubic-bezier(.33, 0, .11, .99);
}

.footer-contact img:hover {
  transform: scale(1.1);
}

.copyright {
  align-self: center;
  margin-bottom: 10px;
  font-size: 0.8em;
}

@media screen and (max-width:1024px) {

  .logo-box-pc {
    display: block;
    /*    display: none;*/
  }

  .logo-box-sp {
    /*    display: block;*/
    display: none;
  }

  /*ハンバーガーメニュー設定*/
  #nav-drawer {
    display: block;
    position: relative;
  }

  nav {
    display: none;
  }

}

@media screen and (max-width:768px) {
  .logo-box-pc {
    display: none;
  }

  .logo-box-sp {
    display: block;
  }

  .sentence {
    margin-top: 40px;
    font-size: ;
/*    font-size: 0.8em;*/
    line-height: 1.6em;
  }

  .footer-wrapper {
    flex-direction: column;
  }
}
