@charset "utf-8";

#contact-wrapper {
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.content-box {
  display: flex;
  margin-top: 10vw;
}

#contact-main-content {
  display: flex;
  justify-content: space-between;
}

.contact-icon-box {
  display: flex;
  justify-content: center;
  width: 24vw;
  margin: 40px 0;
  text-align: center;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 6em;
}

.icon-text{
  
}

@media screen and (max-width:768px) {
  
  .content-box{
    margin-top: -60px;
  }
  
  #contact-main-content {
    flex-direction: column;
  }
  
  .contact-icon-box{
    width: auto;
  }
  
  .contact-icon{
    height: 4em;
  }
}
