@charset "UTF-8";

/*Desktop first*/

/*RETURN TO TOP BUTTON*/

#returnSwitch {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #e7404c;
    background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 20;
    transition: transform 0.3s ease;
    /*不透明度のアニメーション時間はjsで指定*/
}

#returnSwitch > div {
    position: relative;
    top: 22px;
    width: 32%;
    height: 32%;
    margin: auto;
    border-top: 4px solid #e7404c;
    border-left: 4px solid #e7404c;
    transform: rotate(45deg);
}

#returnSwitch:hover {
    transform: scale(1.1);
}

/*TOP-----------------------------*/

#topSection {
    align-items: center;
    background: none;
    z-index: 0;
}

#topLogo {
    display: block;
    position: relative;
    top: 20px;
    width: 140px;
    height: auto;
    margin: auto;
    z-index: 0;
}

/*ABOUT-----------------------------*/

.aboutItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: auto;
    padding: 100px 0;
    margin: 0;
}

.aboutItem:first-child {
    padding-top: 20px;
}

.aboutItemTitle {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    color: #e7404c;
}

.aboutIllust {
    display: block;
    position: relative;
    height: 16vh;
    padding: 50px;
    margin: 0;
}

.aboutItemDescription {
    display: block;
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 1.3em;
    letter-spacing: 0.2em;

}

/*PHILOSOPHY-----------------------------*/

#philosophySection {
    background: #e7404c;
}

#philosophySection h2,
#philosophySection h3,
#philosophySection p {
    color: #fff;
}

#philosophySection h2 {
    margin-bottom: 60px;
}

#philosophySection h3 {
    font-size: 1.6em;
}

#philosophyContent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    top: -60px;
    width: auto;
}

.philosophyItem {
    display: block;
    position: relative;
    width: 24em;
    padding: 2em 1em;
    margin: 0;
    text-align: center;
}

/*
.philosophyItem:nth-child(2) {
    width: 12em;
}*/

#philosophySection h3 {
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.philosophyItem > p {
    letter-spacing: 0.2em;
    font-size: 1.3em;
}

/*MEMBER-----------------------------*/

#memberSection {
    min-height: 82vh;
    background-image: url(../img/octo_member.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#memberContent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    color: #e7404c;
}

.memberItem {
    display: block;
    position: relative;
    min-width: 120px;
    width: 10%;
    margin: 5px 10px;
    border: solid 2px #e7404c;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    transition: transform 0.3s ease;
}

.memberItem:hover {
    transform: scale(1.1)
}

#memberContent > p > a {
    text-decoration: none;
    color: #e7404c;
}

/*MODAL WINDOW*/


.hide {
    display: none;
}


.button {
    display: block;
    position: relative;
    left: 36vw;
    width: 60px;
    height: 50px;
    border-radius: 50px;
    font-size: 2em;
    text-align: center;
    color: #e7404c;
    background: #fff;
    transform: scale(1.0);
    transition: transform 0.3s ease;
    z-index: 100;
}

.button:hover {
    transform: scale(1.2);
}

#shade {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 110;
}

.profileModalWin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.profileCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 25vh;
    left: 26vw;
    width: 40vw;
    height: auto;
    padding: 4vh 4vw;
    margin: auto;
    border-radius: 40px;
    background: #e7404c;
    z-index: 120;
}

.profileCardName {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 40px 0;
    text-align: left;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: #fff;
}

.profileCardContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 40px 0;
}

.profileCardImg {
    display: block;
    position: relative;
    width: 18vw;
    height: 18vw;
    margin: auto;
    border-radius: 50%;
}

.profileCardDescription {
    display: block;
    position: relative;
    left: ;
    width: 16vw;
    height: 80%;
    padding: 10px 20px;
    margin: auto;
    color: #fff;
    line-height: 2.4em;
}

#daichiModal,
#tajiModal,
#fujiModal,
#taiseiModal,
#mahiroModal,
#ogawaModal,
#koheiModal,
#arataModal {}

@media screen and ( max-width:768px) {
    /* モバイルに適用したいスタイル */
    
    #returnSwitch {}

    .aboutIllust {
        width: 80vw;
        padding: 10px;
    }

    #memberContent {
        width: 80%;
    }

    .memberItem {
        width: 40%;
        padding: 5px 0;
        margin: 5px 0;
    }
    .memberItem > a {
        font-size: 1em;
    }
    .aboutItemTitle {
        font-size: 1.2em;
    }
    .aboutItemDescription {
        font-size: 1em;
    }

    .philosophyItem p {
        font-size: 1em;
    }

    .button {
        left: 28vw;
        width: 16vw;
        height: 50px;
    }

    .profileCard {
        top: 12vh;
        left: 10vw;
        width: 72vw;
    }

    .profileCardName {
        line-height: 1.6em;
        font-size: 1.2em;
    }

    .profileCardContent {
        flex-direction: column;
        font-size: 0.9em;
    }

    .profileCardImg {
        width: 40vw;
        height: 40vw;
    }
    .profileCardDescription {
        display: block;
        position: relative;
        left: ;
        width: 50vw;
        height: 100%;
        padding: 24px 20px;
        margin: auto;
        color: #fff;
        line-height: 2em;
    }
}
