@charset "utf-8";

#about-body {
  background: url(../img/lomg-bg.png);
  background-position: bottom;
  background-size: cover;
}

.about-section {
  margin-top: 40px;
}

/*
.card {
  width: 62.5%;
  height: auto;
  padding: 4.6vw 4vw;
  border-radius: 20px;
  margin-bottom: 80px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
*/

#about-member-list {
  display: flex;
  flex-direction: column;;
}

#about-member-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
}

#about-member-list a {
  align-self: flex-end;
  margin-top: 10px;
  color: #E8404D;
}

#about-member-list a::after {
  content: "";
  /*これが無いとアニメーション効かない*/
  display: block;
  width: 0;
  transition: width 0.25s cubic-bezier(.33, 0, .11, .99);
  border-bottom: solid 2px #E8404D;
}

#about-member-list a:hover::after {
  width: 100%;
}
