@charset "UTF-8";

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12%/*18%*/;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 50;
    font-family: "Noto Sans JP", "Noto Sans Japanese", "sans-serif", "yu gothic", "yugothic";
}

#headerLogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: auto/*30%*/
    ;
    height: 100%;
    z-index: 0;
}

#headerLogo {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 1.6em;
    margin: 0 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    width: 80%;
    height: 100%;
}

nav > li {
    display: block;
    position: relative;
    width: 16%;
    height: auto;
    text-align: center;
}

nav > li > a {
    display: block;
    width: 80px;
    height: 1.6em;
    border-radius: 50px;
    text-decoration: none;
    color: #E7404C;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(231, 64, 76, 1) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: 0.3s ease;
}

nav > li > a:hover {
    background-position: -100% 0;
    color: #fff;
}

@media screen and ( max-width:959px) {

    header {
        height: 10%;
    }
    #headerLogoBox {
        display: none;
    }

    nav {
        justify-content: space-around;
        width: 80%;
        margin: auto;
    }
    nav > li {
        width: 100px;
    }
    nav > li > a:hover {
        background-position: 0 0;
        color: #E7404C;
    }
}
